@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./src/assets/font/fonts/TTF/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

body::-webkit-scrollbar {
    display: none;
    font-family: 'Satoshi', sans-serif;
}